.processTitle {
  font-weight: 500;
  color: white;
}
.processTitle-size-big {
  font-size: 48px;
}

.processTitle-size-medium {
  font-size: 28px;
}
.proccessTitle-padding {
  padding-top: 0.7rem;
}

.proccessTitle-align-right {
  text-align: right;
}
.proccessTitle-align-left {
  text-align: left;
}
