.modal-box {
  height: 333px;
  width: 88%;
  min-width: 314px;
  max-width: 335px;
  background-color: #262626;
  border-radius: 15px;
  display: grid;
  grid-template-rows: auto 136px;
  margin: auto;
}

.modal-container {
  margin: 24px 30px;
}

.modal--svg {
  align-items: center;
  vertical-align: middle;
  display: flex;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 10px;
}

.description {
  color: #b6b7b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
}

#toast {
  position: fixed;
  bottom: 50px;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  border-radius: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.CloseButton {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  /* justify-content: center; */
  align-items: center;
  margin-left: auto;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  margin-top: -2px;
  /* position: relative; */
  /* position: relative; */
}

.newbie-container {
  height: 140px;
  background-color: #121212;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.newbie-main-grid {
  margin-left: 5%;
  width: 70%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.newbie-left-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 84px;
  width: 84px;
  background-color: #bf94e4;
  border-radius: 15px;
}

.newbie-right-container {
  display: flex;
  flex-direction: column;
}
.newbie-right-top {
  font-size: 24px;
  line-height: 24px;

  font-weight: 500;
  color: #b6b7b8;
  text-decoration-color: #bf94e4;
  text-decoration-line: line-through;
}

.newbie-right-bottom {
  color: #bf94e4;
  font-size: 55px;
  line-height: 56px;
  font-weight: 500;
}
