.goBackButton {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  text-align: bottom;
  text-decoration: none;
  display: flex;
}

.goBackButton--medium {
  font-size: 18px;
  line-height: 22px;
  /* padding: 11px 20px; */
}

.goBackButton--svg {
  align-items: center;
  vertical-align: middle;
  display: flex;
}
