.UtilityButton {
  position: relative;
  width: 100%;
  height: 42px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.408px;
  color: black;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  line-height: 22px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.UtilityButton--logo {
  align-items: center;
  vertical-align: middle;
  display: flex;
}

.UtilityButton--backgroundColor-white {
  background-color: white;
}

.UtilityButton--backgroundColor-white:active {
  background-color: rgb(196, 196, 196);
}

.UtilityButton--backgroundColor-yellow {
  background-color: #ffeb00;
}

.UtilityButton--backgroundColor-yellow:active {
  background-color: #bdaf16;
}
